# Python
venv/
__pycache__/
*.pyc
*.pyo
.env

# Django
backend/staticfiles/
backend/media/

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node
frontend/node_modules/
frontend/dist/
frontend/.env